body {
  font-family: "Lato", Geneva, Tahoma, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #e45f56;
}
li {
  float: left;
  margin-right: 5px;
}

.btn {
  background-color: #e45f56;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 3px 0 #cd2c21;
}

.btn:hover {
  background-color: #e2483d;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none !important;
}

.headLine {
  width: 100%;
  height: 110px;
  margin: 0 auto;
  background-color: #70d2dd;
  font-size: 36px;
  color: white;
  line-height: 100px;
  border-top: 5px solid #2cacbb;
  
}

.imageContainer {
  width: 100%;
  background-image: url("images/comps.jpg");
  height: 700px;
  background-size: cover;
}

.strapLine {
  background-color: rgba(112, 210, 221, 0.4);
  width: 100%;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 40px;
}

.strapLineText {
  opacity: 1;
}

.centeredText {
  text-align: center;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menu {
  height: 50px;
  margin: 0 auto;
  background-color: white;
  display: table;
  
}

.menuLink {
  color: #6c6c6c;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.menuLink:hover {
  cursor: pointer;
  color: #70d2dd;
}

.header {
  color: #505050;
  font-size: 18px;
  font-family: "Impact", sans-serif;
  margin-left: 400px;
  display: flex;
  align-items: center;
  
}

.ContentHeader {
  font-family: "Lato" Tahoma, sans-serif;
  font-size: 16px;
  color: #838383;
  margin-top: 40px;
  line-height: 38px;
}

.Text {
  color: #787878;
  font-family: "Lato" Tahoma, sans-serif;
  line-height: 28px;
}

.ContentWrapper {
  width: 960px;
  margin: 0 auto;
}

.WithLargeLineHight {
  line-height: 28px;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 16px;
}

.FirstWidgets {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.Widgets {
  width: 150px;
  height: 100px;
  flex-direction: row;
}

.WidgetsWrapper {
  height: 140px;
}

.Media {
  width: 200px;
  height: 100px;
  flex-direction: row;
  background-size: cover;
}

.MediaWrapper {
  height: 145px;
}

.SocialMedia {
  width: 100px;
  height: 100px;
  flex-direction: row;
}

.SocialMediaWrapper {
  height: 145px;
}

.SecondWidgets {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.Blog {
  width: 100px;
  height: 100px;
  flex-direction: row;
  background-size: cover;
}

.BlogWrapper {
  height: 145px;
}

.MenuImage {
  width: 100px;
  height: 100px;
  flex-direction: row;
}

.MenuWrapper {
  height: 140px;
}

.ContactInfo {
  width: 100px;
  height: 100px;
  flex-direction: row;
}

.ContactInfoWrapper {
  height: 145px;
}

.centeredImage {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Footer {
  background-color: #70d2dd;
  width: 100%;
  height: 290px;
  margin-top: 50px;
}

.CaptionPicture {
  color: #787878;
  margin-top: 20px;
  font-size: 18px;
}

.FooterContentWrapper {
  width: 100%;
  height: 165px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.FooterContentLeft {
  font-family: "Lato", Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  height: 165px;
  width: 465px;
}

.FooterContentRight {
  font-family: "Lato", Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  height: 165px;
  width: 465px;
}

.Site {
  margin-top: 15px;
}

.PhoneNumber {
  margin-top: 30px;
  color: rgb(95, 95, 95);
  font-family: Lato, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.Links {
 height: 60px;
 width: 230px;
 display: flex;
 justify-content: space-between;
 padding-top: 40px;
}
.Linkedin {
  background-image: url("images/linkedin.png");
  background-color: #787878;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.Twitter{
  background-image: url("images/twitter.png");
  background-color: #787878;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.FaceBook{
  background-image: url("images/facebook.png");
  background-color: #787878;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.YouTube{
  background-image: url("images/youtube.png");
  background-color: #787878;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.MenuContainer{
  width: 100%;
  border-bottom: 1px solid #aee5ec;
  
}
.PageBlogContent{
  width: 960px;
  margin:  0 auto;
  padding: auto;
}
.PageTitle{
  color:rgb(131, 131, 131);
  font-family: "Lato", Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-top: 40px;
  }

.Content{
 width: 630px;
 color: #787878;
 font-family: "Lato", Geneva, Tahoma, sans-serif;
 line-height: 28px;
 margin-right: 30px;
}
.PageDescription{
 display: flex;
 justify-content: space-between;
}

.search{
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  padding: 0 1em;
  height: 40px;
  width: 260px;
}
.SearchPosts{
  font-family: "Lato", Geneva, Tahoma, sans-serif;
  color: #787878;
  font-size: 18px;
}
.ImageBlog{
  background-image: url("images/blog.jpg");
  height: 400px;
  background-repeat: no-repeat;
  width: 960px;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  
}
.ImageBlogWrapper{
  width: 960px;
  margin: 0 auto;
}
.BlogPost{
  color: #787878;
  letter-spacing: inherit;
  line-height: 28px;
}
.BlogTitle{
  font-size: 30px;
  font-weight: 100;
}